SIMCONFIG {
SUBMODEL {
ASSEMBLY=s_Submodel1.code
CLASSNAME=s_Siemens.Simit.Generated.Submodel1
UNIT=i_1
USED=False
IP=s_localhost
CYCLEID=i_1
CYCLE=i_50
}
SUBMODEL {
ASSEMBLY=s_Submodel2.code
CLASSNAME=s_Siemens.Simit.Generated.Submodel2
UNIT=i_2
USED=True
IP=s_localhost
CYCLEID=i_2
CYCLE=i_100
TRANSFER {
ASSEMBLY=s_Transfer11to2.code
CLASSNAME=s_Siemens.Simit.Generated.Transfer11to2
SOURCE=i_11
}
}
SUBMODEL {
ASSEMBLY=s_Submodel3.code
CLASSNAME=s_Siemens.Simit.Generated.Submodel3
UNIT=i_3
USED=False
IP=s_localhost
CYCLEID=i_3
CYCLE=i_200
}
SUBMODEL {
ASSEMBLY=s_Submodel4.code
CLASSNAME=s_Siemens.Simit.Generated.Submodel4
UNIT=i_4
USED=False
IP=s_localhost
CYCLEID=i_4
CYCLE=i_400
}
SUBMODEL {
ASSEMBLY=s_Submodel5.code
CLASSNAME=s_Siemens.Simit.Generated.Submodel5
UNIT=i_5
USED=False
IP=s_localhost
CYCLEID=i_5
CYCLE=i_800
}
SUBMODEL {
ASSEMBLY=s_Submodel6.code
CLASSNAME=s_Siemens.Simit.Generated.Submodel6
UNIT=i_6
USED=False
IP=s_localhost
CYCLEID=i_6
CYCLE=i_1600
}
SUBMODEL {
ASSEMBLY=s_Submodel7.code
CLASSNAME=s_Siemens.Simit.Generated.Submodel7
UNIT=i_7
USED=False
IP=s_localhost
CYCLEID=i_7
CYCLE=i_3200
}
SUBMODEL {
ASSEMBLY=s_Submodel8.code
CLASSNAME=s_Siemens.Simit.Generated.Submodel8
UNIT=i_8
USED=False
IP=s_localhost
CYCLEID=i_8
CYCLE=i_6400
}
GATEWAY {
ASSEMBLY=s_Siemens.Simit.CS.PLCSIMAdvanced.dll
CLASSNAME=s_Siemens.Simit.CS.PLCSIMAdvanced.IOSPLCSIMAdvanced
UNIT=i_11
USED=true
NAME=s_S71500-ET200MP station_1
DATAPATH=s_io\PLCSIMAdvancedROOT\PLCSIMAdvanced1
REPLY_ADDRESS=s_localhost
CYCLEID=i_2
CYCLE=i_100
TRANSFER {
ASSEMBLY=s_Transfer2to11.code
CLASSNAME=s_Siemens.Simit.Generated.Transfer2to11
SOURCE=i_2
}
}
}
